/* Fonts
Primary - Roboto 400 500 700 900
Logo - Raleway 700 
*/

/* Color palette
Primary Background Color: #FFFFFF
Primary Font Color - #757575
Primary Logo Color - #2196f3
Logo Top Color - #000000
Logo Bottom Color - #ffffff 
Pages Name - #212121
Primary Headline - #212121
H1 H3 Headline - #ffffff
Footer Head Elements - #ffffff
Footer Elements - rgba(255, 255, 255, 0.6)
Active State - #2196F3
*/

:root {
  --primary-text-font: "Roboto", sans-serif;
  --logo-text-font: "Raleway", sans-serif;
  --primary-background-color: #ffffff;
  --primary-font-color: #757575;
  --primary-logo-color: #2196f3;
  --logo-top-color: #000000;
  --logo-bottom-color: #ffffff;
  --pages-name: #212121;
  --primary-headline: #212121;
  --h1-h3-headline: #ffffff;
  --footerheadelements: #ffffff;
  --footerelements: rgba(255, 255, 255, 0.6);
  --activestate: #2196f3;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  font-family: var(--primary-text-font);
  letter-spacing: 0.03em;
}

/* Logo */
.logo {
  color: var(--primary-logo-color);
  font-family: var(--logo-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logotop {
  color: var(--logo-top-color);
}
